{% from "govuk/components/footer/macro.njk" import govukFooter %}

{{ govukFooter({
    meta: {
        items: [
            {
                href: "/accessibility-statement",
                text: "Accessibility statement"
            },
            {
                href: "/cookies",
                text: "Cookies"
            },
            {
                href: "/contact-us",
                text: "Contact us"
            }
        ]
    }
}) }}
