{% from "../../formField.njk" import formField %}
{% from "../../formSubsection.njk" import formSubsection %}
{% from "../../formTable.njk" import formTable %}

{% macro crm14OfficeUseOnly(data) %}

    {# Benefit Check Section #}
    {% set fieldsBenefitCheck = [
        { label: "Overall Check", value: data.benefitCheck.dwpOverallCheck },
        { label: "Result Refer To", value: data.benefitCheck.dwpResultReferTo },
        { label: "Check Surname", value: data.benefitCheck.dwpCheckSurname },
        { label: "Check NINO", value: data.benefitCheck.dwpCheckNino },
        { label: "Check Benefit To Repeat", value: data.benefitCheck.dwpCheckBenefitCheckToRepeat },
        { label: "Partner Surname", value: data.benefitCheck.dwpCheckPartnerSurname },
        { label: "Partner NINO", value: data.benefitCheck.dwpCheckPartnerNino }
    ] %}
    {{ formSubsection('Benefit Check', fieldsBenefitCheck) }}

    {# Message History Section #}
    {% if data.messageHistory.length > 0 %}
        {% set tableMessageHistory = {
            head: [],
            rows: []
        } %}

        {% for key, label in {
            senderDisplay: "Sender",
            message: "Message",
            senderUniqueName: "Sender Unique Name",
            date: "Date"
        } %}
            {% if data.messageHistory[0][key] %}
                {% set _ = tableMessageHistory.head.push({ text: label }) %}
            {% endif %}
        {% endfor %}

        {% for message in data.messageHistory %}
            {% set tableRow = [] %}
            {% for key, _ in {
                senderDisplay: "Sender",
                message: "Message",
                senderUniqueName: "Sender Unique Name",
                date: "Date"
            } %}
                {% if message[key] %}
                    {% set _ = tableRow.push({ text: message[key] }) %}
                {% endif %}
            {% endfor %}
            {% set _ = tableMessageHistory.rows.push(tableRow) %}
        {% endfor %}

        {{ formSubsection('Message History', tableMessageHistory, true) }}
    {% endif %}

    {# Return Provider Section #}
    {% set fieldsReturnProvider = [
        { label: "Return Reason", value: data.returnProvider.returnReason },
        { label: "Return Reason Details", value: data.returnProvider.returnReasonDetails }
    ] %}
    {{ formSubsection('Return Provider', fieldsReturnProvider) }}

    {# Funding Decisions Section #}
    {% if data.fundingDecisions.length > 0 %}
        {% for decision in data.fundingDecisions %}

            {% if data.fundingDecisions.length > 1 %}
                {% set sectionTitle = 'Funding Decision ' ~ loop.index %}
            {% else %}
                {% set sectionTitle = 'Funding Decision' %}
            {% endif %}

            {% set fieldsFundingDecision = [
                { label: "MAAT Number", value: decision.maatNumber },
                { label: "Case Number", value: decision.caseNumber },
                { label: "Justice Test", value: decision.justiceTest },
                { label: "Means Test Result Type", value: decision.meansTestResultType },
                { label: "Official Sign Name", value: decision.officialSignName },
                { label: "Appropriate Officer Name", value: decision.appropriateOfficerName },
                { label: "Justice Test Reasons", value: decision.justiceTestReasons },
                { label: "Overall Result Mags/CCFS", value: decision.overallResultMagsorcfs },
                { label: "Appropriate Officer Sign Date", value: decision.appropriateOfficerSignDate | formatDate },
                { label: "Means Test Appeal to CC", value: decision.meansTestResultAppealtocc },
                { label: "Overall Non-Means Result", value: decision.overallResultNonMeans },
                { label: "Means Test Result Mags/CCFS", value: decision.meansTestResultMagsorcfs },
                { label: "Means Test Result CC", value: decision.meansTestResultCc },
                { label: "Overall Appeal to CC", value: decision.overallResultAppealtocc },
                { label: "Overall Result Type", value: decision.overallResultType },
                { label: "Overall Result CC", value: decision.overallResultCc },
                { label: "Official Sign Date", value: decision.officialSignDate | formatDate }
            ] %}

            {{ formSubsection(sectionTitle, fieldsFundingDecision) }}
        {% endfor %}
    {% endif %}

{% endmacro %}