{% from "../../formField.njk" import formField %}
{% from "../../formSubsection.njk" import formSubsection %}

{% macro crm14EvidencePart2(data) %}
    <div class="govuk-form-group govuk-summary-card govuk-!-margin-bottom-6">
        <div class="govuk-summary-card__title-wrapper">
            <h3 class="govuk-summary-card__title">Evidence to support the information you have given</h3>
        </div>
        <div class="govuk-summary-card__content">
            <p class="govuk-body">Your answers indicate that no evidence is required to support your application, but if you wish to attach any files please do so below.</p>
            <p class="govuk-body">Where further evidence is required you will receive a separate notification detailing what this is and when it should be provided.</p>
        </div>
    </div>

    {# Render "Processed Attachments" subsection #}

    <div class="govuk-!-margin-top-8 govuk-!-margin-bottom-0">
        <h4>Previously Submitted and Processed Evidence Files</h4>
    </div>

    {% for item in data.processedAttachments %}

        {% set sectionTitle = 'Evidence File ' ~ loop.index %}

        {% set fields = [
            { label: "File name", value: item.fileName },
            { label: "Evidence type", value: item.evidenceType },
            { label: "Date submitted", value: item.dtSubmitted, type: "date" },
            { label: "Status", value: item.status },
            { label: "Provider notes", value: item.providerNotes },
            { label: "Caseworker notes", value: item.caseworkerNotes },
            { label: "Date processed", value: item.dtProcessed, type: "date" }
        ] %}

        {{ formSubsection(sectionTitle, fields) }}
    {% endfor %}

    {# Render "New Attachments" subsection #}

    {% set newAttachmentsData = {
        head: [
            { text: "File Name" },
            { text: "Size (MB)" },
            { text: "Evidence Type" },
            { text: "Provider Notes" }
        ],
        rows: []
    } %}

    {% for item in data.newAttachments %}
        {% set row = [
            { text: item.fileName },
            { text: item.fileSizeMb },
            { text: item.evidenceType },
            { text: item.providerNotes }
        ] %}
        {% set _ = newAttachmentsData.rows.push(row) %}
    {% endfor %}

    {{ formSubsection('Newly Submitted Evidence Files - Require Processing', newAttachmentsData, true) }}

{% endmacro %}