{% from "../../formSubsection.njk" import formSubsection %}
{% from "../../formField.njk" import formField %}
{% from "../../formFieldHeading.njk" import formFieldHeading %}
{% from "../../formTable.njk" import formTable %}

{% macro crm14InterestsOfJustice(data) %}

    {% set tableData = {
        head: [
            { text: "Charge"},
            { text: "" },
            { text: "Date of Offence" },
            { text: "" },
            { text: "" }
        ],
        rows: []
    } %}

    {% for item in data.chargesBrought %}
        {%- set tableRow = [
            { text: item.charge | safe, attributes: { 'data-header': 'Charge' } },
            { text: item.whenOffence | safe, attributes: { 'data-header': 'Date of Offence' } },
            { text: item.offenceDateOn | safe | formatDate, attributes: { 'data-header': '' } },
            { text: item.offenceDateBetweenStart | safe | formatDate, attributes: { 'data-header': '' } },
            { text: item.offenceDateBetweenEnd | safe | formatDate, attributes: { 'data-header': '' } }
        ] -%}
        {% set list = tableData.rows.push(tableRow) %}
    {% endfor %}

    <div class="govuk-form-group govuk-summary-card govuk-!-margin-bottom-6">
        <div class="govuk-summary-card__title-wrapper">
            <h3 class="govuk-summary-card__title">Interests of Justice</h3>
        </div>
        <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
                {{ formFieldHeading("What charges have been brought against you?", hasPreviousContent=false) }}
                {{ formTable(tableData) }}

                {{ formField({ label: "The type of offence with which you are charged", value: data.offenceType, transform: "offenceType" }) }}
                {{ formField({ label: "Do you have any co-defendants in this case?", value: data.anyDefendants }) }}
                {{ formField({ label: "Please supply their name(s)", value: data.defendantDetails }) }}
                {{ formField({ label: "Is there any reason why you and your co-defendants cannot be represented by the same solicitor?", value: data.notSameSolicitor }) }}
                {{ formField({ label: "Please supply the reason(s)", value: data.notSameSolicitorReason }) }}
                {{ formField({ label: "Are there any other criminal cases or charges against you or your partner which are still in progress?", value: data.otherCases }) }}

                {% if data.otherCases === 'Yes' %}
                    {{ formFieldHeading("You") }}
                    {{ formField({ label: "The charges", value: data.otherCaseCharges.you.charges }) }}
                    {{ formField({ label: "The Court hearing the case", value: data.otherCaseCharges.you.court }) }}
                    {{ formField({ label: "Date of the next hearing", value: data.otherCaseCharges.you.nextHearing, type: "date" }) }}

                    {{ formFieldHeading("Your Partner") }}
                    {{ formField({ label: "The charges", value: data.otherCaseCharges.partner.charges }) }}
                    {{ formField({ label: "The Court hearing the case", value: data.otherCaseCharges.partner.court }) }}
                    {{ formField({ label: "Date of the next hearing", value: data.otherCaseCharges.partner.nextHearing, type: "date" }) }}
                {% endif %}

                {{ formField({ label: "Which Court is hearing the case for which you need legal aid?", value: data.laCourt }) }}
                {{ formField({ label: "Date of the hearing", value: data.laCourtNextHearing, type: "date" }) }}
                {{ formField({ label: "Have proceedings already concluded?", value: data.proceedingsConcluded }) }}
                {{ formField({ label: "If magistrates proceedings have concluded before the date stamp on this form, you should provide a note in the box below including", value: data.proceedingsConcludedNotes }) }}
            </dl>
        </div>
    </div>
{% endmacro %}
