{% from "govuk/components/header/macro.njk" import govukHeader %}

{{ govukHeader({
    homepageUrl: "/",
    serviceUrl: "/",
    useTudorCrown: true,
    serviceName: "Equiniti Historical Data",
    navigation: [
        {
            href: "#",
            text: "Sarah Kharraz",
            active: true
        },
        {
            href: "#",
            text: "Reports"
        },
        {
            href: "#",
            text: "Sign in"
        }
    ]
}) }}