{% extends "govuk/template.njk" %}

{% from "govuk/components/skip-link/macro.njk" import govukSkipLink %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{% set htmlClasses = "app-html-class" %}
{% set htmlLang = "en" %}
{% set assetUrl = "registerawesomecat" %}
{% set themeColor = "blue" %}
{% set bodyClasses = "app-body-class" %}
{% set bodyAttributes = {
  'data-test': 'My value',
  'data-other': 'report:details'
} %}
{% set containerClasses = "app-width-container" %}

{% block head %}
  <meta name="description" content="GOV.UK - Register your awesome cat officially">
  <link href="/assets/stylesheets/application.css" rel="stylesheet">
{% endblock %}

{% block pageTitle %}GOV.UK - Register you awesome cat{% endblock %}

{% block skipLink %}
    {% include "../components/skipLink.njk" %}
{% endblock %}

{% block header %}
    {% include "./header.njk" %}
{% endblock %}

{% block beforeContent %}
    {% include "../components/phaseBanner.njk" %}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
    <script>document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');</script>
    <script type="module" src={{'/assets/js/main.min.js' if environment !== 'production' else '/assets/js/main-dev.js'}}></script>
    <script type="module">
        import { initAll } from '{{'/assets/js/main.min.js' if environment !== 'production' else '/assets/js/main-dev.js'}}'
        initAll()
    </script>
{% endblock %}