{% from "../../formField.njk" import formField %}
{% from "../../formFieldHeading.njk" import formFieldHeading %}
{% from "../../formTable.njk" import formTable %}

{% macro crm15LandProperty(data) %}

    <div class="govuk-form-group govuk-summary-card govuk-!-margin-bottom-6">
        <div class="govuk-summary-card__title-wrapper">
            <h3 class="govuk-summary-card__title">Your land and property, and that of your partner</h3>
        </div>
        <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
                {{ formFieldHeading("Do you or your partner own or part-ownland or property of any kind
                including your own home, in the United Kingdom or overseas?", hasPreviousContent=false) }}
                {{ formField({ label: "You", value: data.ownProperty }) }}
                {{ formField({ label: "Your Partner", value: data.partnerOwnProperty }) }}


                {% if data.ownProperty === 'Yes' %}
                    {{ formFieldHeading("You:") }}
                    {{ formField({ label: "How many residential properties?", value: data.residentialProperties }) }}
                    {{ formField({ label: "How many commercial properties?", value: data.commercialProperties }) }}
                    {{ formField({ label: "How many pieces of land?", value: data.piecesOfLand }) }}
                {% endif %}

                {% if data.partnerOwnProperty === 'Yes' %}
                    {{ formFieldHeading("Your Partner:") }}
                    {{ formField({ label: "How many residential properties?", value: data.partnerResidentialProperties }) }}
                    {{ formField({ label: "How many commercial properties?", value: data.partnerCommercialProperties }) }}
                    {{ formField({ label: "How many pieces of land?", value: data.partnerPiecesOfLand }) }}
                {% endif %}

                {% if data.ownProperty === 'Yes' and data.partnerOwnProperty === 'Yes' %}
                    {{ formFieldHeading("You and Your Partner jointly:") }}
                    {{ formField({ label: "How many residential properties?", value: data.jointResidentialProperties }) }}
                    {{ formField({ label: "How many commercial properties?", value: data.jointCommercialProperties }) }}
                    {{ formField({ label: "How many pieces of land?", value: data.jointPiecesOfLand }) }}
                {% endif %}

                {% if (data.propertyList | length) > 0 %}
                    <div class="govuk-summary-list__row govuk-grid-row">
                        {% set tableData = {
                            head: [
                                { text: "Type"},
                                { text: "Address" },
                                { text: "Ownership" },
                                { text: "Values" },
                                { text: "Details" }
                            ],
                            rows: []
                        } %}

                        {% for item in data.propertyList %}
                            {%- set formattedOwnershipDetails = item.ownershipDetailsDisplay
                                | replace("You:", "<strong>You:</strong>\r\n")
                                | replace("Your Partner:", "<strong>Your Partner:</strong>\r\n") -%}

                            {%- set tableRow = [
                                { text: item.type | safe, attributes: { "data-header": "Type" } },
                                { text: item.lAndpAddressDisplay | safe, attributes: { "data-header": "Address" } },
                                { text: formattedOwnershipDetails | safe, attributes: { "data-header": "Ownership" } },
                                { text: item.mortgageDisplay | safe, attributes: { "data-header": "Values" } },
                                { text: item.residentialCommercialLandDetailsDisplay | safe, attributes: { "data-header": "Details" } }
                            ] -%}
                            {% set list = tableData.rows.push(tableRow) %}
                        {% endfor %}
                        {{ formTable(tableData) }}
                    </div>
                {% endif %}
            </dl>
        </div>
    </div>
{% endmacro %}
