{% from "../../formField.njk" import formField %}
{% from "../../formFieldHeading.njk" import formFieldHeading %}
{% from "../../formTable.njk" import formTable %}

{% macro crm15Income1(data) %}

    <div class="govuk-form-group govuk-summary-card govuk-!-margin-bottom-6">
        <div class="govuk-summary-card__title-wrapper">
            <h3 class="govuk-summary-card__title">Your Income and Your Partner's Income</h3>
        </div>
        <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
                {% set yourEmployersCount = data.allEmployers.you | length %}
                {% set partnerEmployersCount = data.allEmployers.partner | length %}

                {% set hasEmployers = yourEmployersCount > 0 %}
                {% set hasPartnerEmployers = partnerEmployersCount > 0 %}

                {% if hasEmployers or hasPartnerEmployers %}
                    {{ formFieldHeading("How many employers do you and your partner have?", hasPreviousContent=false) }}
                {% endif %}

                {% if hasEmployers %}
                    {{ formField({ label: "You", value: yourEmployersCount}) }}
                {% endif %}

                {% if hasPartnerEmployers %}
                    {{ formField({ label: "Your Partner", value: partnerEmployersCount}) }}
                {% endif %}

                {% if hasEmployers %}
                    {{ formFieldHeading("Your Employer(s)") }}
                    {{ employersTable(data.allEmployers.you ) }}
                {% endif %}

                {% if hasPartnerEmployers %}
                    {{ formFieldHeading("Your Partner's Employer(s)") }}
                    {{ employersTable(data.allEmployers.partner) }}
                {% endif %}

                {{ formFieldHeading("Self-employment, partnerships and private businesses", hasPreviousContent=(hasEmployers or hasPartnerEmployers)) }}
                {{ formFieldHeading("You:", hasPreviousContent=false) }}
                {{ formField({ label: "Self-employed: the number of businesses", value: data.selfEmployedNoOfBusinesses }) }}
                {{ formField({ label: "Business partnership: the number of partnerships", value: data.businessPartnerships }) }}
                {{ formField({ label: "Director or Shareholder: the number of private companies", value: data.privateCompanies }) }}

                {{ formFieldHeading("Your Partner:") }}
                {{ formField({ label: "Self-employed: the number of businesses", value: data.partnerSelfEmployedNoOfBusinesses }) }}
                {{ formField({ label: "Business partnership: the number of partnerships", value: data.partnerBusinessPartnershipsNoOf }) }}
                {{ formField({ label: "Director or Shareholder: the number of private companies", value: data.partnerPrivateCompaniesNoOf }) }}

                {{ formFieldHeading("Have you or your partner received a self assessment tax calculation sheet from HM Revenue and Customs
                telling you about your tax liability, within the last 2 years?") }}
                {{ formField({ label: "You", value: data.selfAssessmentTaxReceived }) }}
                {{ formField({ label: "Your Partner", value: data.partnerSelfAssessmentTaxReceived }) }}

                {% if data.selfAssessmentTaxReceived === "Yes" %}
                    {{ formFieldHeading("You:") }}
                    {{ formField({ label: "amount", value: data.taxLiability, type: "currency" }) }}
                    {{ formField({ label: "every", value: data.taxLiabilityPaidEvery }) }}
                {% endif %}

                {% if data.partnerSelfAssessmentTaxReceived === "Yes" %}
                    {{ formFieldHeading("Your Partner:") }}
                    {{ formField({ label: "amount", value: data.partnerTaxLiability, type: "currency" }) }}
                    {{ formField({ label: "every", value: data.partnerTaxLiabilityPaidEvery }) }}
                {% endif %}

                {% if (data.allBusinesses.you | length) > 0 %}
                    {{ formFieldHeading("Your Businesses") }}
                    {{ businessTable(data.allBusinesses.you ) }}
                {% endif %}

                {% if (data.allBusinesses.partner | length) > 0 %}
                    {{ formFieldHeading("Your Partner's Businesses") }}
                    {{ businessTable(data.allBusinesses.partner ) }}
                {% endif %}

                {{ formFieldHeading("Do you or your partner receive from work any benefit that is not money - such as a company vehicle,
                relocation payments, vouchers for childcare, or private health insurance?") }}
                {{ formField({ label: "You", value: data.nonCashBenefit }) }}
                {{ formField({ label: "Your Partner", value: data.partnerNonCashBenefit }) }}

                {% if data.nonCashBenefit === "Yes" %}
                    {{ formFieldHeading("You:") }}
                    {{ formField({ label: "The total value every year", value: data.nonCashBenefitValue }) }}
                {% endif %}

                {% if data.partnerNonCashBenefit === "Yes" %}
                    {{ formFieldHeading("Your Partner:") }}
                    {{ formField({ label: "The total value every year", value: data.partnerNonCashBenefitValue }) }}
                {% endif %}
            </dl>
        </div>
    </div>

{% endmacro %}


{% macro employersTable(data) %}
    <div class="govuk-summary-list__row govuk-grid-row">
        {% set tableData = {
            head: [
                { text: "Employer's Name / Job Title"},
                { text: "Address" },
                { text: "Salary" },
                { text: "Deductions" }
            ],
            rows: []
        } %}

        {% for item in data %}
            {%- set tableRow = [
                { text: item.nameAndJobTitleDisplay | safe, attributes: { "data-header": "Employer's Name Job Title" } },
                { text: item.addressDisplay | safe, attributes: { "data-header": "Address" } },
                { text: item.salaryDisplay | safe, attributes: { "data-header": "Salary" } },
                { text: item.otherDeduction | safe, attributes: { "data-header": "Deductions" } }
            ] -%}
            {% set list = tableData.rows.push(tableRow) %}
        {% endfor %}
        {{ formTable(tableData) }}
    </div>
{% endmacro %}


{% macro businessTable(data) %}
    <div class="govuk-summary-list__row govuk-grid-row">
        {% set tableData = {
            head: [
                { text: "Business Type"},
                { text: "Previous 12 Months' Financials" },
                { text: "Director's Salary Total Income from Share Sales" },
                { text: "Trading Name & Address" },
                { text: "Business Details" },
                { text: "In business with anyone else" }
            ],
            rows: []
        } %}

        {% for item in data %}
            {%- set tableRow = [
                { text: item.businessType | safe, attributes: { "data-header": "Business Type" } },
                { text: item.previousFinancialsDisplay | safe, attributes: { "data-header": "Previous 12 Months' Financials" } },
                { text: item.directorShareIncomeDisplay | safe, attributes: { "data-header": "Director's Salary Total Income from Share Sales" } },
                { text: item.tradingDetailsDisplay | safe, attributes: { "data-header": "Trading Name & Address" } },
                { text: item.businessDetailsDisplay | safe, attributes: { "data-header": "Business Details" } },
                { text: item.businessWithName | safe, attributes: { "data-header": "In business with anyone else" } }
            ] -%}
            {% set list = tableData.rows.push(tableRow) %}
        {% endfor %}
        {{ formTable(tableData) }}
    </div>
{% endmacro %}
