{% from "../../formField.njk" import formField %}
{% from "../../formFieldHeading.njk" import formFieldHeading %}
{% from "../../formTable.njk" import formTable %}

{% macro crm15Savings(data) %}

    <div class="govuk-form-group govuk-summary-card govuk-!-margin-bottom-6">
        <div class="govuk-summary-card__title-wrapper">
            <h3 class="govuk-summary-card__title">Your Savings and Investments and those of Your Partner</h3>
        </div>
        <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
                {{ formFieldHeading("Do you or your partner have any of these types of saving, in the United Kingdom or overseas?",
                    hasPreviousContent=false) }}

                {{ formFieldHeading("Please enter the number of accounts you, your partner or any held jointly of the following types.
                Enter '0' if you have none of a particular type. Include empty or overdrawn accounts:",
                    hasPreviousContent=false) }}

                {{ youYourPartnerJoint("Bank account?", data.numBankAccounts, data.numPartnerBankAccounts, data.numJointBankAccounts) }}

                {{ youYourPartnerJoint("Building society accounts?",
                    data.numBuildingSocietyAccount, data.numPartnerBuildingSocietyAccount, data.numJointBuildingSocietyAccount) }}

                {{ youYourPartnerJoint("Cash ISAs?",  data.numCashIsa, data.numPartnerCashIsa, data.numJointCashIsa) }}

                {{ youYourPartnerJoint("National Savings or Post Office Accounts?",
                    data.numNationalSavings, data.numPartnerNationalSavings, data.numJointNationalSavings) }}

                {{ youYourPartnerJoint("Any other cash investments?",
                    data.numOtherCashInvestments, data.numPartnerOtherCashInvestments, data.numJointOtherCashInvestments) }}

                {% if (data.bankAccounts | length) > 0 %}
                        {% set tableData = {
                            head: [
                                { text: "Bank, building society or other"},
                                { text: "Sort code / Branch" },
                                { text: "Account Number" },
                                { text: "Account Type" },
                                { text: "Balance" },
                                { text: "Overdrawn" },
                                { text: "Account Holder" }
                            ],
                            rows: []
                        } %}

                        {% for item in data.bankAccounts %}
                            {%- set tableRow = [
                                { text: item.bank | safe, attributes: { "data-header": "Bank, building society or other" } },
                                { text: item.sortCode | safe, attributes: { "data-header": "Sort code / Branch" } },
                                { text: item.accountNumber | safe, attributes: { "data-header": "Account Number" } },
                                { text: item.accountType | safe, attributes: { "data-header": "Account Type" } },
                                { text: item.balance | safe | formatCurrency, attributes: { "data-header": "Balance" } },
                                { text: item.overdrawn | formatYesNo, attributes: { "data-header": "Overdrawn" } },
                                { text: item.accountHolder | safe, attributes: { "data-header": "Account Holder" } }
                            ] -%}
                            {% set list = tableData.rows.push(tableRow) %}
                        {% endfor %}
                        {{ formTable(tableData) }}
                {% endif %}

                {{ youYourPartner("Is the salary, wages or benefits of you or your partner paid to one of the accounts?",
                    data.salaryPaidIntoAccount, data.partnerSalaryPaidIntoAccount) }}

                {% if data.salaryPaidIntoAccount === 'Yes' %}
                    {{ formField({ label: "Name of bank, building society or other holder of the savings (You)", value: data.salaryAccount }) }}
                {% endif %}

                {% if data.partnerSalaryPaidIntoAccount === 'Yes' %}
                    {{ formField({ label: "Name of bank, building society or other holder of the savings (Partner)", value: data.partnerSalaryAccount }) }}
                {% endif %}

                {{ formFieldHeading("Do you or your partner have any Premium Savings Bonds?") }}
                {{ formField({ label: "You", value: data.premiumBonds }) }}
                {{ formField({ label: "Your Partner", value: data.partnerPremiumBonds }) }}

                {% if data.premiumBonds === 'Yes' %}
                    {{ formField({ label: "Holder Number (You)", value: data.premiumBondsHolderNo }) }}
                {% endif %}

                {% if data.partnerPremiumBonds === 'Yes' %}
                    {{ formField({ label: "Holder Number (Your Partner)", value: data.partnerPremiumBondsHolderNo }) }}
                {% endif %}

                {% if data.premiumBonds === 'Yes' or data.partnerPremiumBonds === 'Yes'  %}
                    {{ formField({ label: "Total value of the Premium Savings Bonds", value: data.premiumBondsTotal, type: "currency" }) }}
                {% endif %}

                {{ youYourPartner("Do you or your partner have any National Savings Certificates?",
                    data.nationalSavingsCert, data.partnerNationalSavingsCert) }}

                {% if data.nationalSavingsCert === 'Yes' or data.partnerNationalSavingsCert === 'Yes'  %}
                    <div class="govuk-summary-list__row govuk-grid-row">
                        {% set tableData = {
                            head: [
                                { text: "Customer (or Holder's) Number"},
                                { text: "Certificate Number"  },
                                { text: "Owned by" }
                            ],
                            rows: []
                        } %}

                        {% for item in data.savingCertificates %}
                            {%- set tableRow = [
                                { text: item.customerNumber | safe, attributes: { "data-header": "Customer (or Holder's) Number" } },
                                { text: item.certNumber | safe, attributes: { "data-header": "Certificate Number" } },
                                { text: item.youOrPartner | safe, attributes: { "data-header": "Owned by" } }
                            ] -%}
                            {% set list = tableData.rows.push(tableRow) %}
                        {% endfor %}
                        {{ formTable(tableData) }}
                    </div>

                    {{ formField({ label: "Total value of the National Savings Certificates", value: data.nationalSavingsCertTotal }) }}
                {% endif %}


                {{ formFieldHeading("Do you or your partner own or jointly own any of these investments, in the United Kingdom or overseas?") }}

                {{ youYourPartnerJoint("Stocks, including gilts and government bonds?", data.stocks, data.partnerStocks, data.jointStocks) }}

                {{ youYourPartnerJoint("Shares?", data.shares, data.partnerShares, data.jointShares) }}

                {{ youYourPartnerJoint("Personal Equity Plans (PEPs)?", data.peps, data.partnerPeps, data.jointPeps) }}

                {{ youYourPartnerJoint("Share ISAs?", data.shareIsa, data.partnerShareIsa, data.jointShareIsa) }}

                {{ youYourPartnerJoint("Unit Trusts?", data.unitTrust, data.partnerUnitTrust, data.jointUnitTrust) }}

                {{ youYourPartnerJoint("Investment Bonds?", data.investmentBonds, data.partnerInvestmentBonds, data.jointInvestmentBonds) }}

                {{ youYourPartnerJoint("Other lump sum investments?", data.otherLumpSum, data.partnerOtherLumpSum, data.jointOtherLumpSum) }}

                {% if (data.investments.length > 0) %}
                <div class="govuk-summary-list__row govuk-grid-row">
                    {% set tableData = {
                        head: [
                            { text: "Investment type"},
                            { text: "Describe each investment" },
                            { text: "Value" },
                            { text: "Investment holder" }
                        ],
                        rows: []
                    } %}

                    {% for item in data.investments %}
                        {%- set tableRow = [
                            { text: item.investmentType | safe, attributes: { "data-header": "Investment type" } },
                            { text: item.investmentInfo | safe, attributes: { "data-header": "Describe each investment" } },
                            { text: item.investmentValue | safe | formatCurrency, attributes: { "data-header": "Value" } },
                            { text: item.investmentHolder | safe, attributes: { "data-header": "Investment holder" } }
                        ] -%}
                        {% set list = tableData.rows.push(tableRow) %}
                    {% endfor %}
                    {{ formTable(tableData) }}
                </div>
                {%  endif  %}

                {{ youYourPartner("Do you or your partner stand to benefit from a trust fund in the United Kingdom or overseas?",
                    data.trustFund, data.partnerTrustFund) }}

                {% if data.trustFund === 'Yes' %}
                    {{ formFieldHeading("You:") }}
                    {{ formField({ label: "The amount held in the fund", value: data.trustFundAmount, type: "currency" }) }}
                    {{ formField({ label: "The yearly dividend", value: data.trustFundDividend, type: "currency" }) }}
                {% endif %}

                {% if data.partnerTrustFund === 'Yes' %}
                    {{ formFieldHeading("Your Partner:") }}
                    {{ formField({ label: "The amount held in the fund", value: data.partnerTrustFundAmount, type: "currency" }) }}
                    {{ formField({ label: "The yearly dividend", value: data.partnerTrustFundDividend, type: "currency"  }) }}
                {% endif %}

                {{ youYourPartner("Do you or your partner have any income, savings or assets which are under a restraint order or a freezing order?",
                    data.freezingOrderCrm15, data.partnerFreezingOrderCrm15) }}

                {{ formField({ label: "Do you, by yourself or with anyone else, own a motor vehicle?", value: data.ownCar }) }}

                {% if data.ownCar === 'Yes' %}
                    <div class="govuk-summary-list__row govuk-grid-row">
                        {% set tableData = {
                            head: [
                                { text: "Registration Number(s)"}
                            ],
                            rows: []
                        } %}

                        {% for item in data.carRegs %}
                            {%- set tableRow = [
                                { text: item.carRegNumber | safe, attributes: { "data-header": "Registration Number(s)" } }
                            ] -%}
                            {% set list = tableData.rows.push(tableRow) %}
                        {% endfor %}
                        {{ formTable(tableData) }}
                    </div>
                {% endif %}
            </dl>
        </div>
    </div>

{% endmacro %}


{% macro youYourPartner(title, you, yourPartner) %}
    {{ formFieldHeading(title) }}
    {{ formField({ label: "You", value: you }) }}
    {{ formField({ label: "Your Partner", value: yourPartner }) }}
{% endmacro %}

{% macro youYourPartnerJoint(title, you, yourPartner, joint) %}
    {{ youYourPartner(title, you, yourPartner) }}
    {{ formField({ label: "Joint", value: joint }) }}
{% endmacro %}
