{% from "../../formField.njk" import formField %}
{% from "../../formFieldHeading.njk" import formFieldHeading %}

{% macro crm5CapitalDetails(data) %}

    <div class="govuk-form-group govuk-summary-card govuk-!-margin-bottom-6">
        <div class="govuk-summary-card__title-wrapper">
            <h3 class="govuk-summary-card__title">Capital Details</h3>
        </div>
        <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
                {{ formField({ label: "Is your client under 18 years old?", value: data.isUnder18 } ) }}

                {% if data.isUnder18 === "No" %}
                    {{ formField({ label: "Does your client or partner (if living with client as couple) get Income Support, Income Based Job Seeker's Allowance, Income Related Employment and Support Allowance or Guarantee State Pension Credit?", value: data.hasIncomeSupport } ) }}
                    {{ formField({ label: "How many dependants does your client have?", value: data.numOfDependants } ) }}
                    {{ formField({ label: "Client", value: data.clientSavings } ) }}
                    {{ formField({ label: "Partner", value: data.partnerSavings } ) }}
                    {{ formField({ label: "Total", value: data.totalSavings } ) }}
                {% endif %}
            </dl>
        </div>
    </div>
{% endmacro %}