{% macro formField(field, isLastRow = false, isCostsSection = false) %}
    {% if isLastRow and isCostsSection %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{{ field.label }}</dt>
            <dd class="govuk-summary-list__value">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <div class="govuk-body govuk-!-padding-top-2 govuk-!-static-margin-bottom-0"> </div>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <div class="govuk-body govuk-!-padding-top-2 govuk-!-static-margin-bottom-0">
                            {% if field.type === 'currency' %}
                                {{ field.value | formatCurrency }}
                            {% elif field.type === 'date' %}
                                {{ field.value | formatDate }}
                            {% elif field.type === 'time' %}
                                {{ field.value | formatTime }}
                            {% else %}
                                {{ field.value }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </dd>
        </div>
    {% elif isCostsSection %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{{ field.label }}</dt>
            <dd class="govuk-summary-list__value">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <div class="govuk-body govuk-!-padding-top-2 govuk-!-margin-bottom-0">

                        </div>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <div class="govuk-body govuk-!-padding-top-2 govuk-!-margin-bottom-0">
                            {% if field.type === 'currency' %}
                                {{ field.value | formatCurrency }}
                            {% elif field.type === 'date' %}
                                {{ field.value | formatDate }}
                            {% elif field.type === 'time' %}
                                {{ field.value | formatTime }}
                            {% else %}
                                {{ field.value }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </dd>
        </div>
    {% else %}
        <div class="govuk-summary-list__row govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                <dt class="govuk-summary-list__key">{{ field.label }}</dt>
            </div>
            <div class="govuk-grid-column-one-half">
                <dd class="govuk-summary-list__value">
                    {% if field.type === 'currency' %}
                        {{ field.value | formatCurrency }}
                    {% elif field.type === 'date' %}
                        {{ field.value | formatDate }}
                    {% elif field.type === 'time' %}
                        {{ field.value | formatTime }}
                    {% else %}
                        {{ field.value }}
                    {% endif %}
                </dd>
            </div>
        </div>
    {% endif %}
{% endmacro %}
