{% from "./formField.njk" import formField %}

{% macro formFieldList(fields) %}

    <dl class="govuk-summary-list">
        {% for field in fields %}
            {% if field.value !== null and field.value !== '' %}
                {{ formField(field) }}
            {% endif %}
        {% endfor %}
    </dl>

{% endmacro %}
