{%- from "govuk/components/table/macro.njk" import govukTable -%}
{% from "./formFieldList.njk" import formFieldList %}
{% from "./formTable.njk" import formTable %}

{% macro formSubsection(title, data, isTableData = false, tableClass = "") %}

    {% if isTableData %}
        {% if data.rows.length > 0 %}
        <div class="govuk-form-group govuk-summary-card govuk-!-margin-bottom-6">
            <div class="govuk-summary-card__title-wrapper">
                <h3 class="govuk-summary-card__title">{{ title }}</h3>
            </div>
            <div class="govuk-summary-card__content">
                {{ formTable(data, tableClass) }}
            </div>
        </div>
        {% endif %}
    {% else %}
        <div class="govuk-form-group govuk-summary-card govuk-!-margin-bottom-6">
            <div class="govuk-summary-card__title-wrapper">
                <h3 class="govuk-summary-card__title">{{ title }}</h3>
            </div>
            <div class="govuk-summary-card__content">
                {{ formFieldList(data) }}
            </div>
        </div>
    {% endif %}

{% endmacro %}