{% from "./formField.njk" import formField %}

{% macro formFieldList(fields) %}
    {% for field in fields %}
        {% if field.value %}
            {{ formField(field) }}
        {% endif %}
    {% endfor %}
{% endmacro %}
