{%- from "govuk/components/table/macro.njk" import govukTable -%}
{% from "./formField.njk" import formField %}

{% macro formSubsection(title, data, isTableData = false) %}

    <div class="govuk-form-group govuk-summary-card govuk-!-margin-bottom-6">
        <div class="govuk-summary-card__title-wrapper">
            <h3 class="govuk-summary-card__title ">{{ title }}</h3>
        </div>
        <div class="govuk-summary-card__content">
            {% if isTableData %}
                <div class="govuk-table-responsive">
                    <table class="govuk-table">
                        <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                            {% for head in data.head %}
                                <th class="govuk-table__header" scope="col">{{ head.text }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody class="govuk-table__body">
                        {% for row in data.rows %}
                            <tr class="govuk-table__row">
                                {% for cell in row %}
                                    {% if cell.isHeader %}
                                        <th class="govuk-table__header {{ cell.class }}" scope="row" {% if cell.colspan %}colspan="{{ cell.colspan }}"{% endif %}>{{ cell.text }}</th>
                                    {% else %}
                                        <td class="govuk-table__cell {{ cell.class }}" {% if cell.colspan %}colspan="{{ cell.colspan }}"{% endif %} data-header="{{ data.head[loop.index0].text }}">{{ cell.text }}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <dl class="govuk-summary-list">
                    {% for field in data %}
                        {{ formField(field) }}
                    {% endfor %}
                </dl>
            {% endif %}
        </div>
    </div>

{% endmacro %}