{% from "govuk/components/pagination/macro.njk" import govukPagination %}

{% macro paginationBox(params) %}

    {% if (params.items | length) > 1 %}
        {{ govukPagination(params) }}
    {% endif %}
{% endmacro %}
