{% from "govuk/components/button/macro.njk" import govukButton %}

{% macro printButton() %}
    {{ govukButton({
        "text": "Print",
        "classes": "govuk-button",
        "attributes": {
            "id": "print-button"
        }
    }) }}
{% endmacro %}