<div class="form-background govuk-!-padding-top-4 govuk-!-padding-left-4">
    <form action="/search-eform" method="POST">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
                {{ govukInput({
                    label: {
                        text: 'USN'
                    },
                    id: "usn",
                    name: "usn",
                    value: formValues.usn,
                    inputmode: "numeric",
                    spellcheck: false,
                    errorMessage: errors.messages.usn
                }) }}
            </div>
            <div class="govuk-grid-column-one-third">
                {{ govukInput({
                    label: {
                        text: "Provider account number"
                    },
                    id: "supplierAccountNumber",
                    name: "supplierAccountNumber",
                    value: formValues.supplierAccountNumber,
                    errorMessage: errors.messages.supplierAccountNumber
                }) }}
            </div>
            <div class="govuk-grid-column-one-third">
                {{ govukSelect({
                    label: {
                        text: "CRM type"
                    },
                    items: [
                        {
                            value: "",
                            text: "Choose CRM type",
                            selected: true
                        },
                        {
                            value: "1",
                            text: "CRM 4"
                        },
                        {
                            value: "4",
                            text: "CRM 5"
                        },
                        {
                            value: "5",
                            text: "CRM 7"
                        },
                        {
                            value: "6",
                            text: "CRM 14"
                        },
                        {
                            value: "7",
                            text: "CRM 14/15"
                        }
                    ],
                    id: "type",
                    name: "type",
                    value: formValues.type
                }) }}
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
                {{ govukInput({
                    label: {
                        text: "Client surname"
                    },
                    classes: "govuk-!-width-full",
                    id: "clientName",
                    name: "clientName",
                    value: formValues.clientName,
                    errorMessage: errors.messages.clientName
                }) }}
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                {{ govukInput({
                    label: {
                        text: "Submission date from"
                    },
                    id: "startDate",
                    name: "startDate",
                    value: formValues.startDate,
                    type: "date",
                    errorMessage: errors.messages.startDate
                }) }}
            </div>
            <div class="govuk-grid-column-one-quarter">
                {{ govukInput({
                    label: {
                        text: "Submission date to"
                    },
                    classes: "govuk-!-width-full",
                    id: "endDate",
                    name: "endDate",
                    value: formValues.endDate,
                    type: "date",
                    errorMessage: errors.messages.endDate
                }) }}
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
                {{ govukButton({
                    text: 'Search'
                }) }}
            </div>
        </div>
    </form>
</div>
