{% macro totalAndCost(field) %}
    {% set totalAndCost = field.value %}
    <div class="govuk-grid-column-one-quarter">
        <div class="govuk-form-group">
            <label class="govuk-label"><strong>{{ field.label }}</strong></label>
        </div>
    </div>
    <div class="govuk-grid-column-one-quarter">
        <div class="govuk-form-group">
            <span class="govuk-body">{{ totalAndCost.total }}</span>
        </div>
    </div>
    <div class="govuk-grid-column-one-quarter">
        <div class="govuk-form-group">
            <span class="govuk-body">{{ totalAndCost.cost | formatCurrency }}</span>
        </div>
    </div>
{% endmacro %}
