{% macro totalAndCost(field, isFirstRow = false, isTotalRow = false) %}
    {% set totalAndCost = field.value %}
    {% if isFirstRow %}
        <div class="govuk-summary-list__row custom-cost-header">
            <dt class="govuk-summary-list__key"></dt>
            <dd class="govuk-summary-list__value">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <div class="govuk-body"></div>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <div><h3>Cost</h3></div>
                    </div>
                </div>
            </dd>
        </div>
    {% endif %}
    {% if isTotalRow %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{{ field.label }}</dt>
            <dd class="govuk-summary-list__value">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <div class="govuk-body govuk-!-padding-top-2 govuk-!-static-margin-bottom-0"> </div>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <div class="govuk-body govuk-!-padding-top-2 govuk-!-static-margin-bottom-0">{{ totalAndCost.cost | formatCurrency }}</div>
                    </div>
                </div>
            </dd>
        </div>
    {% else %}
        <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{{ field.label }}</dt>
            <dd class="govuk-summary-list__value">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                        <div class="govuk-body govuk-!-padding-top-2 govuk-!-static-margin-bottom-0">{{ totalAndCost.total }}</div>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <div class="govuk-body govuk-!-padding-top-2 govuk-!-static-margin-bottom-0">{{ totalAndCost.cost | formatCurrency }}</div>
                    </div>
                </div>
            </dd>
        </div>
    {% endif %}
{% endmacro %}
