{% from "./formFieldList.njk" import formFieldList %}

{% macro youAndYourPartner(title, you, yourPartner, joint) %}
    {% if title %}
        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-top-4">{{ title }}</p>
    {% endif %}

    {% set fields = [
        { label: "You", value: you },
        { label: "Your Partner", value: yourPartner }
    ] %}

    {% if joint %}
        {% set list = fields.push({ label: "Joint", value: joint }) %}
    {% endif %}

    {{ formFieldList(fields) }}
{% endmacro %}