{%- from "govuk/components/table/macro.njk" import govukTable -%}

{% macro crm4AdditionalExpenditure(title, data) %}

    {% set tableData = {
        head: [
            { text: "Description"},
            { text: "Justification" },
            { text: "Quantity" },
            { text: "Rate" },
            { text: "Total" }
        ],
        rows: []
    } %}

    {% for item in data %}
        {%- set tableRow = [
            { text: item.description | safe },
            { text: item.justification | safe },
            { text: item.quantity | safe },
            { text: item.rate | safe | formatCurrency },
            { text: item.total | safe | formatCurrency }
        ] -%}
        {% set list = tableData.rows.push(tableRow) %}
    {%  endfor %}

<div class="govuk-form-group govuk-summary-card govuk-!-margin-bottom-6">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title govuk-!-font-size-27">{{ title }}</h2>
    </div>
    <div class="govuk-summary-card__content">
        {{ govukTable(tableData) }}
    </div>
</div>

{% endmacro %}

