{% macro crm4AlternativeQuotes(title, data) %}

<div class="govuk-form-group govuk-summary-card govuk-!-margin-bottom-6">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title govuk-!-font-size-27">{{ title }}</h2>
    </div>
    <div class="govuk-summary-card__content">
    </div>
</div>

{% endmacro %}