{% from "../formField.njk" import formField %}
{% from "../formSubsection.njk" import formSubsection %}

{% macro crmEvidence(data) %}

    {% set fields = [] %}

    {% for item in data %}
        {% set linkUrl = "/download-evidence?fileKey=" + item.key + "&fileName=" + item.name %}
        {% set list = fields.push({ label: item.name, value: { href: linkUrl, text: "download" } , type: 'link' }) %}
    {% endfor %}

    {{ formSubsection('Evidence', fields) }}

{% endmacro %}
