{% from "../formTable.njk" import formTable %}
{% from "../formFieldHeading.njk" import formFieldHeading %}
{% from "../formSubsection.njk" import formSubsection %}

{% macro crmEvidence(data, crmType) %}

    {% set processedEvidence = [] %}
    {% set unprocessedEvidence = [] %}

    {#     Separate processed and unprocessed files #}
    {% for item in data %}
        {% if item.isProcessed %}
            {% set _ = processedEvidence.push(item) %}
        {% else %}
            {% set _ = unprocessedEvidence.push(item) %}
        {% endif %}
    {% endfor %}

    {% macro renderEvidenceTable(evidenceData, crmType) %}

        {% set tableEvidence = {
            head: [],
            rows: []
        } %}

        {% for item in evidenceData %}

            {# Add aria-label to describe the type of file being downloaded #}

            {% if item.name %}
                {% set fileName = item.name | replace("'", "") | urlencode %}
                {% set ariaLabel = "Download " + (item.name | removeUnderscore) + " evidence file" %}
            {% else %}
                {% set fileName = "Unknown_File" %}
                {% set ariaLabel = "Download evidence file" %}
            {% endif %}

            {#             Prefix fileKey with CRM14/ path if fileKey starts with "att_" #}
            {% set fileKey = "CRM14/" + item.key if crmType === "CRM 14" and (item.key | truncate(4, true, '')) === "att_" else item.key %}
            {% set linkUrl = "/download-evidence?fileKey=" + (fileKey | urlencode) + "&fileName=" + fileName %}

            {% set tableRow = [
                { text: "Attachment " ~ loop.index, isHeader: true },
                { text: item.name },
                { text: "<a href='" + linkUrl + "' class='govuk-link govuk-link--no-visited-state' aria-label='" + ariaLabel + "'>" + "Download" + "</a>", html: true }
            ] %}

            {% set _ = tableEvidence.rows.push(tableRow) %}
        {% endfor %}

        {{ formTable(tableEvidence) }}
    {% endmacro %}


    <div class="govuk-form-group govuk-summary-card govuk-!-margin-bottom-6">
        <div class="govuk-summary-card__title-wrapper">
            <h3 class="govuk-summary-card__title">Evidence</h3>
        </div>
        <div class="govuk-summary-card__content">


            {% if processedEvidence.length > 0 %}
                {{ formFieldHeading("Processed", hasPreviousContent=false) }}
                {{ renderEvidenceTable(processedEvidence, crmType) }}
            {% endif %}


            {% if unprocessedEvidence.length > 0 %}
                {{ formFieldHeading("Not Processed", hasPreviousContent=false) }}
                {{ renderEvidenceTable(unprocessedEvidence, crmType) }}
            {% endif %}

        </div>
    </div>

{% endmacro %}
