{% from "./crmEvidence.njk" import crmEvidence %}
{% from "./crmFurtherInformation.njk" import crmFurtherInformation %}
{% from "./crm4/crm4AdditionalExpenditure.njk" import crm4AdditionalExpenditure %}
{% from "./crm4/crm4AlternativeQuotes.njk" import crm4AlternativeQuotes %}
{% from "./crm4/crm4OfficeUseOnly.njk" import crm4OfficeUseOnly %}
{% from "./crm5/crm5CaseDetails.njk" import crm5CaseDetails %}
{% from "./crm5/crm5CapitalDetails.njk" import crm5CapitalDetails %}
{% from "./crm5/crm5OfficeUseOnly.njk" import crm5OfficeUseOnly %}
{% from "./crm7/crm7CaseDisposal.njk" import crm7CaseDisposal %}
{% from "./crm7/crm7Disbursements.njk" import crm7Disbursements %}
{% from "./crm7/crm7ClaimForCosts.njk" import crm7ClaimForCosts %}
{% from "./crm7/crm7ScheduleOfTime.njk" import crm7ScheduleOfTime %}
{% from "./crm7/crm7NonStandardFeeClaim.njk" import crm7NonStandardFeeClaim %}
{% from "./crm7/crm7OfficeUseOnly.njk" import crm7OfficeUseOnly %}
{% from "./crm14/crm14LegalRepUse.njk" import crm14LegalRepUse %}
{% from "./crm14/crm14AboutTheInformation.njk" import crm14AboutTheInformation %}
{% from "./crm14/crm14InterestsOfJustice.njk" import crm14InterestsOfJustice %}
{% from "./crm14/crm14InterestsOfJustice2.njk" import crm14InterestsOfJustice2 %}
{% from "./crm14/crm14Declarations.njk" import crm14Declarations %}
{% from "./crm14/crm14PrivacyNotice.njk" import crm14PrivacyNotice %}
{% from "./crm14/crm14Income.njk" import crm14Income %}
{% from "./crm14/crm14EvidencePart2.njk" import crm14EvidencePart2 %}
{% from "./crm14/crm14OfficeUseOnly.njk" import crm14OfficeUseOnly %}
{% from "./crm15/crm15Income1.njk" import crm15Income1 %}
{% from "./crm15/crm15Income2.njk" import crm15Income2 %}
{% from "./crm15/crm15Outgoings.njk" import crm15Outgoings %}
{% from "./crm15/crm15LandProperty.njk" import crm15LandProperty %}
{% from "./crm15/crm15Savings.njk" import crm15Savings %}


{% macro customDisplay(customDisplay, crmType) %}
    {% if customDisplay.name === 'crmEvidence' %}
        {{ crmEvidence(customDisplay.value, crmType) }}
    {% elif customDisplay.name === 'crmFurtherInformation' %}
        {{ crmFurtherInformation(customDisplay.value, crmType) }}

{# CRM 4 #}
    {% elif customDisplay.name === 'crm4AdditionalExpenditure' %}
        {{ crm4AdditionalExpenditure(customDisplay.value) }}
    {% elif customDisplay.name === 'crm4AlternativeQuotes' %}
        {{ crm4AlternativeQuotes(customDisplay.value) }}
    {% elif customDisplay.name === 'crm4OfficeUseOnly' %}
        {{ crm4OfficeUseOnly(customDisplay.value) }}

{# CRM 5 #}
    {% elif customDisplay.name === 'crm5CaseDetails' %}
        {{ crm5CaseDetails(customDisplay.value) }}
    {% elif customDisplay.name === 'crm5CapitalDetails' %}
        {{ crm5CapitalDetails(customDisplay.value) }}
    {% elif customDisplay.name === 'crm5OfficeUseOnly' %}
        {{ crm5OfficeUseOnly(customDisplay.value) }}

{# CRM 7 #}
        {% elif customDisplay.name == 'crm7CaseDisposal' %}
        {{ crm7CaseDisposal(customDisplay.value) }}
    {% elif customDisplay.name === 'crm7Disbursements' %}
        {{ crm7Disbursements(customDisplay.value) }}
    {% elif customDisplay.name === 'crm7ClaimForCosts' %}
        {{ crm7ClaimForCosts(customDisplay.value) }}
    {% elif customDisplay.name === 'crm7ScheduleOfTime' %}
        {{ crm7ScheduleOfTime(customDisplay.value) }}
    {% elif customDisplay.name === 'crm7NonStandardFeeClaim' %}
        {{ crm7NonStandardFeeClaim(customDisplay.value) }}
    {% elif customDisplay.name === 'crm7OfficeUseOnly' %}
        {{ crm7OfficeUseOnly(customDisplay.value) }}

{# CRM 14 #}
    {% elif customDisplay.name === 'crm14LegalRepUse' %}
        {{ crm14LegalRepUse(customDisplay.value) }}
    {% elif customDisplay.name === 'crm14InterestsOfJustice' %}
        {{ crm14InterestsOfJustice(customDisplay.value) }}
    {% elif customDisplay.name === 'crm14AboutTheInformation' %}
        {{ crm14AboutTheInformation(customDisplay.value) }}
    {% elif customDisplay.name === 'crm14InterestsOfJustice' %}
        {{ crm14InterestsOfJustice(customDisplay.value) }}
    {% elif customDisplay.name === 'crm14InterestsOfJustice2' %}
        {{ crm14InterestsOfJustice2(customDisplay.value) }}
    {% elif customDisplay.name === 'crm14Declarations' %}
        {{ crm14Declarations(customDisplay.value) }}
    {% elif customDisplay.name === 'crm14PrivacyNotice' %}
        {{ crm14PrivacyNotice(customDisplay.value) }}
    {% elif customDisplay.name === 'crm14Income' %}
        {{ crm14Income(customDisplay.value) }}
    {% elif customDisplay.name === 'crm14EvidencePart2' %}
        {{ crm14EvidencePart2(customDisplay.value) }}
    {% elif customDisplay.name === 'crm14OfficeUseOnly' %}
        {{ crm14OfficeUseOnly(customDisplay.value) }}

{# CRM 15 #}
    {% elif customDisplay.name === 'crm15Income1' %}
        {{ crm15Income1(customDisplay.value) }}
    {% elif customDisplay.name === 'crm15Income2' %}
        {{ crm15Income2(customDisplay.value) }}
    {% elif customDisplay.name === 'crm15Outgoings' %}
        {{ crm15Outgoings(customDisplay.value) }}
    {% elif customDisplay.name === 'crm15LandProperty' %}
        {{ crm15LandProperty(customDisplay.value) }}
    {% elif customDisplay.name === 'crm15Savings' %}
        {{ crm15Savings(customDisplay.value) }}

    {% endif %}
{% endmacro %}
