{% from "./crm4AdditionalExpenditure.njk" import crm4AdditionalExpenditure %}
{% from "./crm4AlternativeQuotes.njk" import crm4AlternativeQuotes %}

{% macro customDisplay(params) %}
    {%  set title = params.title %}
    {%  set customDisplay = params.customDisplay %}

    {% if customDisplay.name == 'crm4AdditionalExpenditure' %}
        {{ crm4AdditionalExpenditure(customDisplay.value) }}
    {% elif customDisplay.name == 'crm4AlternativeQuotes' %}
        {{ crm4AlternativeQuotes(customDisplay.value) }}
    {% endif %}

{% endmacro %}
