@import "node_modules/govuk-frontend/dist/govuk/settings/colours-applied";

.govuk-main-wrapper {
  min-height: 600px;
}

.govuk-brand-colour {
  color: $govuk-brand-colour;
}

.govuk-vertical-align-middle {
  vertical-align: middle;
}

.govuk-min-height {
  min-height: 1em;
}

.govuk-summary-list__key, .govuk-summary-list__value {
  overflow-wrap: anywhere;
}

.hideContainer {
  display: none;
}

@media (min-width: 641px) and (max-width: 840px) {
  .govuk-custom-stack-tablet {
    width: 50%;
    display: block;
  }
}


@media (min-width: 48em) {
  .govuk-custom-no-padding-left-desktop {
    @include govuk-responsive-padding(0, "left");
  }

  .govuk-custom-navigation-left {
    margin-right: auto;
  }
  .govuk-header__logo {
    &.govuk-custom-width-auto-desktop {
      width:auto;
    }
  }
  .govuk-phase-banner {
    &.govuk-custom-no-margin-right-desktop {
      @include govuk-responsive-margin(0, "right");
    }
  }
  .govuk-table {
      font-size: 1rem;
      line-height: 1.25;
  }
  .govuk-tag {
    &.govuk-body-s {
      font-size: 1rem;
    }
  }
  .govuk-custom-no-break {
    white-space: nowrap;
  }
}


@media print {
  a[href]::after {
    content: none !important;
  }
  #print-button,
  .govuk-link,
  .govuk-header,
  .govuk-footer,
  .govuk-back-link {
    display: none;
  }
  @page {
    margin: 0;
  }
  .govuk-table {
    width: 100%;
    font-size: 11px;
    line-height: 1.25;
  }
  .govuk-table-responsive {
    overflow: visible !important;
  }
}
