{% from "../../formSubsection.njk" import formSubsection %}
{% macro crm4AlternativeQuotes(data) %}

    {# Render "Alternative Quotes" subsection #}
    {% set fields = [
        { label: "Have you obtained any alternative quotes?", value: data.alternativeQuote },
        { label: "How many alternative quotes have been obtained?", value: data.numberOfQuotes },
        { label: "If none, please provide a reason for not getting alternatives", value: data.reason }
    ] %}
    {{ formSubsection('Alternative Quotes', fields) }}

    {# Render "Quotes" subsection #}
    {% set quotes = data.Quotes %}
    {% for quote in quotes %}
        {% set fields = [
            { label: "Company Name", value: quote.companyName },
            { label: "Name Of Expert", value: quote.expertName },
            { label: "Contact Phone", value: quote.contactPhone },
            { label: "Cost Basis", value: quote.costBasis },
            { label: "Preparation Hours", value: quote.preparationHours, type: "time" },
            { label: "Preparation Hourly Rate", value: quote.hourlyRate, type: "currency" },
            { label: "Additional Items Description", value: quote.additionalItemDesc },
            { label: "Additional Items Amount", value: quote.additionalItemAmount,  type: "currency" },
            { label: "Travel Hours", value: quote.travelHours, type: "time" },
            { label: "Travel Hourly Rate", value: quote.travelHourlyRate, type: "currency"  },
            { label: "Total", value: quote.quoteTotal, type: "currency" }
        ] %}
        {% set title = 'Quote ' + loop.index %}
        {{ formSubsection(title, fields) }}
    {% endfor %}

{% endmacro %}
