{% from "../../formSubsection.njk" import formSubsection %}

{% macro crm4AdditionalExpenditure(data) %}

    {% set tableData = {
        head: [
            { text: "Description"},
            { text: "Justification" },
            { text: "Quantity" },
            { text: "Rate" },
            { text: "Total" }
        ],
        rows: []
    } %}

    {% for item in data %}
        {%- set tableRow = [
            { text: item.description | safe, attributes: { 'data-header': 'Description' } },
            { text: item.justification | safe, attributes: { 'data-header': 'Justification' } },
            { text: item.quantity | safe, attributes: { 'data-header': 'Quantity' } },
            { text: item.rate | safe | formatCurrency, attributes: { 'data-header': 'Rate' } },
            { text: item.total | safe | formatCurrency, attributes: { 'data-header': 'Total' } }
        ] -%}
        {% set list = tableData.rows.push(tableRow) %}
    {%  endfor %}

    {{ formSubsection('Additional Expenditure', tableData, true) }}

{% endmacro %}

