.govuk-table-responsive {
  overflow-x: auto;
}

// Mixin for mobile table styles
@mixin mobile-table-styles {
  .govuk-table thead {
    display: none;
  }

  .govuk-table__row {
    display: block;
    margin-bottom: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0.5em;
  }

  .govuk-table__cell {
    display: block;
    text-align: left;
    padding: 0.5em 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0.5em;
  }

  .govuk-table__cell::before {
    content: attr(data-header);
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-align: left;
  }

  .govuk-table__cell:last-child {
    border-bottom: none;
    margin-bottom: 0;
  }
}

// Default mobile view at 640px for general tables
@media (max-width: 40.0625em) {
  @include mobile-table-styles;
}

// Custom mobile view at 768px for the search page table
.govuk-custom-stack-table {
  @media (max-width: 48em) {
    @include mobile-table-styles;
  }
}

@media (min-width: 40.0625em) {
  .equal-width-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    .govuk-table__row {
      display: flex;
      width: 100%;
    }
    .govuk-table__cell, .govuk-table__header {
      flex: 1;
    }
  }
}