{% from "../../formSubsection.njk" import formSubsection %}
{% from "../../formField.njk" import formField %}

{% macro crm7OfficeUseOnly(data) %}
    {# Quality Control Section #}
    {% set decisionOptions = {
        "G": "Grant",
        "PG": "Part Grant",
        "R": "Reject",
        "Refer": "Refer For ICA"
    } %}

    {% set fieldsQualityControl = [
        { label: "Decision", value: decisionOptions[data.QualityControl.decision] },
        { label: "Reason for decision", value: data.QualityControl.decisionReason },
        { label: "Destruction date", value: data.QualityControl.destructionDate | formatDate }
    ] %}
    {{ formSubsection('Quality control', fieldsQualityControl) }}

    {# Authority Section #}
    {% set fieldsAuthority = [
        { label: "Signed authority", value: data.Authority.signedAuth },
        { label: "Decision date", value: data.Authority.signedAuthDate | formatDate }
    ] %}
    {{ formSubsection('Authority signed', fieldsAuthority) }}

{% endmacro %}