{% extends "partials/layout.njk" %}

{% block content %}
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper">
            <h1 class="govuk-heading-l">Search for a historical eForm</h1>
            <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Search by</h2>
            <span class="govuk-caption-m govuk-!-margin-bottom-4">To find cases, search by USN only or combine filters as Client name, Start date and End date.</span>

            <div class="govuk-!-padding-top-4 govuk-!-padding-left-4">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                    </div>
                </div>
            </div>
        </main>

    </div>

{% endblock %}