{% extends "partials/layout.njk" %}

{% set pageTitle = applicationName + " - Error" %}
{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">404 Not found</h1>
        <p class="govuk-body">
          If you typed the web address, check it is correct.
        </p>
        <p class="govuk-body">
          If you pasted the web address, check you copied the entire address.
        </p>
        <p class="govuk-body">
          If the web address is correct or you selected a link or button, <a href="#" class="govuk-link">contact helpline.</a>
        </p>
        <pre>{{ stack }}</pre>
    </div>
  </div>
{% endblock %}