{% extends "../partials/layout.njk" %}

  {% block content %}
      <div class="govuk-width-container">
          <main class="govuk-main-wrapper">
              <h1 class="govuk-heading-l">{{ title }}</h1>
              <p class="govuk-body govuk-!-margin-top-7">
                  <a href="/auth/signin" class="govuk-link govuk-link--no-visited-state">Sign in</a>
              </p>
          </main>
      </div>
  {% endblock %}