{% extends "../partials/layout.njk" %}
{% set pageTitle =  "Accessibility Statement - " + applicationName %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
    <div class="govuk-width-container">
        <main class="govuk-main-wrapper">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-l">Accessibility Statement for Equiniti Historical Data</h1>

                    <p class="govuk-body">
                        The Legal Aid Agency is committed to making its [website(s)/mobile application(s), as appropriate] accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
                    </p>

                    <p class="govuk-body">
                        This accessibility statement applies to the ‘Access eForms Records’ website.’ This service is run by the Equiniti Data Migration team in the Legal Aid Agency Digital department of the Ministry of Justice.
                    </p>

                    <h2 class="govuk-heading-m">How you should be able to use this website</h2>
                    <p class="govuk-body">We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>change colours, contrast levels and fonts using browser or device settings</li>
                        <li>zoom in up to 400% without the text spilling off the screen</li>
                        <li>navigate most of the website using a keyboard or speech recognition software</li>
                        <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
                    </ul>
                    <p class="govuk-body">
                        We also make the website text as simple as possible to understand.
                    </p>
                    <p class="govuk-body">
                        <a href="https://mcmw.abilitynet.org.uk" class="govuk-link">AbilityNet</a> has advice on making your device easier to use if you have a disability.
                    </p>

                    <h2 class="govuk-heading-m">How accessible this website is</h2>
                    <p class="govuk-body">Parts of this website are not fully accessible. For example:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Some information may be missed by screen magnifier users when zoomed in at 250% and 400%.</li>
                        <li>Users may not be able to identify error messages.</li>
                        <li>Users may not be able to determine what information they are downloading.</li>
                        <li>Users may find some tables confusing, with the presence of empty table cells and some missing column headers.</li>
                        <li>Some page titles do not match with the main heading.</li>
                    </ul>

                    <h2 class="govuk-heading-m">Feedback and contact information</h2>
                    <p class="govuk-body">
                        If you find any problems not listed on this page or think we’re not meeting accessibility requirements, contact <a href="mailto:laa-eq-data-migration-team@digital.justice.gov.uk" class="govuk-link">laa-eq-data-migration-team@digital.justice.gov.uk</a>.
                    </p>
                    <p class="govuk-body">We will review your request and get back to you within 5 working days.</p>

                    <h2 class="govuk-heading-m">Enforcement procedure</h2>
                    <p class="govuk-body">
                        The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com" class="govuk-link">contact the Equality Advisory and Support Service (EASS)</a>.
                    </p>

                    <h2 class="govuk-heading-m">Compliance status</h2>
                    <p class="govuk-body">
                        The website has been tested against the <a href="https://www.w3.org/TR/WCAG22/" class="govuk-link">Web Content Accessibility Guidelines (WCAG) version 2.2</a> AA standard. This website is partially compliant with the WCAG version 2.2 AA standard, due to the non-compliances listed below.
                    </p>

                    <h2 class="govuk-heading-m">Non-accessible content</h2>
                    <p class="govuk-body">
                        The content listed below is non-accessible for the following reason(s):
                    </p>
                    <h3 class="govuk-heading-s">(a) non-compliance with the accessibility regulations</h3>
                    <ol class="govuk-list govuk-list--number">
                        <li>The page title does not have the h1 (main heading) first, and in some cases the h1 does not appear in the title. This is important to inform users where they are, especially for screen reader users. (2.4.2 page titles). We aim to fix this within 3 months.</li>
                        <li>On some pages there are duplicate main landmarks. Screen reader users may miss information by navigating to the other main landmark or they may find it confusing. (2.4.1 bypass blocks). We aim to fix this within 3 months.</li>
                        <li>When an error occurs, the page title does not start with 'Error: '. (2.4.2 page titles). We aim to fix this within 3 months.</li>
                        <li>When an error occurs, the area where the error sits is not highlighted. (3.3.1 error identification). We aim to fix this within 3 months.</li>
                        <li>For screen magnifier users, zooming to 250% causes the CRM type input box to drop off the page. (1.4.10 reflow). We aim to fix this within 3 months.</li>
                        <li>For screen magnifier users, zooming to 250% causes some columns of the table to drop off the page. (1.4.10 reflow). We aim to fix this within 3 months.</li>
                        <li>When a table is magnified to 300%, the table resizes but the headings are missing. (2.4.6 headings and labels). We aim to fix this within 3 months.</li>
                        <li>For empty table cells, there is no indication to a screen reader user that it should be empty. (1.3.1 information and relationships). We aim to fix this within 3 months.</li>
                        <li>The 'download' link does not have hidden text to give screen reader users context for what they are downloading. (1.3.1 information and relationships). We aim to fix this within 3 months.</li>
                    </ol>

                    <h2 class="govuk-heading-m">Disproportionate burden</h2>
                    <p class="govuk-body">There are no claims of disproportionate burden for this website.</p>

                    <h2 class="govuk-heading-m">Preparation of this accessibility statement</h2>
                    <p class="govuk-body">
                        This statement was prepared on 1st November 2024. It was last reviewed on 1st November 2024.
                    </p>
                    <p class="govuk-body">
                        An internal assessment was the method used to prepare this statement, tested against the WCAG 2.2 AA standard.
                    </p>
                </div>
            </div>
        </main>
    </div>
{% endblock %}