{% extends "../partials/layout.njk" %}
{% from "../components/navigationBar.njk" import navigationBar %}
{% from "../components/formField.njk" import formField %}
{% from "../components/timeAndCost.njk" import timeAndCost %}
{% from "../components/totalAndCost.njk" import totalAndCost %}
{% from "../components/customDisplay/customDisplay.njk" import customDisplay %}
{% from "../components/backLink.njk" import backLink %}

{% set pageTitle = applicationName + " - " + crmType + ": " + title %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

    <div class="govuk-width-container">
        {{ backLink(backUrl) }}
        <main class="govuk-main-wrapper">

            <span class="govuk-caption-l">eForm: {{ crmType }} | Case number: {{ usn }}</span>
            <h1 class="govuk-heading-l">{{ title }}</h1>
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third ">
                    {{ navigationBar(navigationItems) }}
                </div>
                <div class="govuk-grid-column-two-thirds govuk-!-padding-top-4">
                    {% for section in crmDetails.sections %}
                        <h2 class="govuk-heading-m">{{ section.title }}</h2>
                        {% for subsection in section.subsections %}
                            {% if subsection.customDisplay %}
                                {{ customDisplay(subsection.customDisplay) }}
                            {% else %}
                                <div class="govuk-form-group govuk-summary-card govuk-!-margin-bottom-6">
                                    <div class="govuk-summary-card__title-wrapper">
                                        <h3 class="govuk-summary-card__title">{{ subsection.title }}</h3>
                                    </div>
                                    <div class="govuk-summary-card__content">
                                        <dl class="govuk-summary-list">
                                            {% set hasPreviousContent = false %}
                                            {% for field in subsection.fields %}
                                                {% if field.subHeading %}
                                                    <div class="govuk-summary-list__row govuk-summary-list__row--no-border">
                                                        <p class="govuk-brand-colour govuk-heading-s govuk-!-margin-top-{% if hasPreviousContent %}8{% else %}4{% endif %}">{{ field.subHeading }}</p>
                                                    </div>
                                                {% else %}
                                                    {% if loop.first %}
                                                        {% if field.type == 'timeAndCost' %}
                                                            {{ timeAndCost(field, true) }}
                                                            {% elif field.type == 'totalAndCost' %}
                                                            {{ totalAndCost(field, true) }}
                                                        {% else %}
                                                            {{ formField(field) }}
                                                        {% endif %}
                                                        {% elif loop.last %}
                                                        {% if field.type == 'timeAndCost' %}
                                                            {{ timeAndCost(field, false, true) }}
                                                            {% elif field.type == 'totalAndCost' %}
                                                            {{ totalAndCost(field, false, true) }}
                                                        {% else %}
                                                            {{ formField(field, section.sectionId == 'costs') }}
                                                        {% endif %}
                                                    {% else %}
                                                        {% if field.type == 'timeAndCost' %}
                                                            {{ timeAndCost(field) }}
                                                            {% elif field.type == 'totalAndCost' %}
                                                            {{ totalAndCost(field) }}
                                                        {% else %}
                                                            {{ formField(field, section.sectionId == 'costs') }}
                                                        {% endif %}
                                                    {% endif %}
                                                    {% set hasPreviousContent = true %}
                                                {% endif %}
                                            {% endfor %}
                                        </dl>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% if loop.last === false %}
                        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </main>
    </div>
{% endblock %}
