{% extends "../partials/layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "../components/backLink.njk" import backLink %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set pageTitle =  "Generate Reports - " + applicationName %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
    <div class="govuk-width-container">
        {{ backLink(backUrl) }}
            {% if errors.list | length %}
                <div id="error-summary">
                    {{ govukErrorSummary({
                        titleText: "There is a problem",
                        errorList: errors.list
                    }) }}
                </div>
            {% endif %}

            <h1 class="govuk-heading-l">Generate reports</h1>
            <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Generate report by</h2>
            <span class="govuk-caption-m govuk-!-margin-bottom-4">To generate reports, select the CRM type and set a date range (ideally up to one month). Then, click the "Download report" button to receive your report.</span>

            <div class="form-background govuk-!-padding-top-4 govuk-!-padding-left-4">
                <form action="/generate-report" method="POST">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-half">
                            {{ govukSelect({
                                id: "crmType",
                                name: "crmType",
                                value: formValues.crmType,
                                errorMessage: errors.messages.crmType,
                                label: {
                                    text: "CRM type"
                                },
                                items: [
                                    {
                                        value: "",
                                        text: "Choose CRM type",
                                        selected: true
                                    },
                                    {
                                        value: "crm4",
                                        text: "CRM 4"
                                    },
                                    {
                                        value: "crm5",
                                        text: "CRM 5"
                                    },
                                    {
                                        value: "crm14",
                                        text: "CRM 14"
                                    }
                                ]
                            }) }}
                        </div>
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-quarter">
                            {{ govukInput({
                                label: {
                                    text: "Decision date from"
                                },
                                id: "decisionFromDate",
                                name: "decisionFromDate",
                                value: formValues.decisionFromDate,
                                type: "date",
                                errorMessage: errors.messages.decisionFromDate
                            }) }}
                        </div>
                        <div class="govuk-grid-column-one-quarter">
                            {{ govukInput({
                                label: {
                                    text: "Decision date to"
                                },
                                classes: "govuk-!-width-full",
                                id: "decisionToDate",
                                name: "decisionToDate",
                                value: formValues.decisionToDate,
                                type: "date",
                                errorMessage: errors.messages.decisionToDate
                            }) }}
                        </div>
                    </div>
                    <div id="crm14Container"
                         class="{% if formValues.crmType !== 'crm14' %}hideContainer{% endif %}">
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-one-quarter">
                                {{ govukInput({
                                    label: {
                                        text: "Submitted date from"
                                    },
                                    id: "submittedFromDate",
                                    name: "submittedFromDate",
                                    value: formValues.submittedFromDate,
                                    type: "date",
                                    errorMessage: errors.messages.submittedFromDate
                                }) }}
                            </div>
                            <div class="govuk-grid-column-one-quarter">
                                {{ govukInput({
                                    label: {
                                        text: "Submitted date to"
                                    },
                                    classes: "govuk-!-width-full",
                                    id: "submittedToDate",
                                    name: "submittedToDate",
                                    value: formValues.submittedToDate,
                                    type: "date",
                                    errorMessage: errors.messages.submittedToDate
                                }) }}
                            </div>
                        </div>
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-one-quarter">
                                {{ govukInput({
                                    label: {
                                        text: "Created date from"
                                    },
                                    id: "createdFromDate",
                                    name: "createdFromDate",
                                    value: formValues.createdFromDate,
                                    type: "date",
                                    errorMessage: errors.messages.createdFromDate
                                }) }}
                            </div>
                            <div class="govuk-grid-column-one-quarter">
                                {{ govukInput({
                                    label: {
                                        text: "Created date to"
                                    },
                                    classes: "govuk-!-width-full",
                                    id: "createdToDate",
                                    name: "createdToDate",
                                    value: formValues.createdToDate,
                                    type: "date",
                                    errorMessage: errors.messages.createdToDate
                                }) }}
                            </div>
                        </div>
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-one-quarter">
                                {{ govukInput({
                                    label: {
                                        text: "Last submitted date from"
                                    },
                                    id: "lastSubmittedFromDate",
                                    name: "lastSubmittedFromDate",
                                    value: formValues.lastSubmittedFromDate,
                                    type: "date",
                                    errorMessage: errors.messages.lastSubmittedFromDate
                                }) }}
                            </div>
                            <div class="govuk-grid-column-one-quarter">
                                {{ govukInput({
                                    label: {
                                        text: "Last submitted date to"
                                    },
                                    classes: "govuk-!-width-full",
                                    id: "lastSubmittedToDate",
                                    name: "lastSubmittedToDate",
                                    value: formValues.lastSubmittedToDate,
                                    type: "date",
                                    errorMessage: errors.messages.lastSubmittedToDate
                                }) }}
                            </div>
                        </div>
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
                            {{ govukButton({
                                action: '#',
                                method: 'post',
                                text: 'Download report'
                            }) }}
                        </div>
                    </div>
                </form>
            </div>
    </div>
{% endblock %}
{% block pageScripts %}
    <script src="/assets/generateReport.js"></script>
{% endblock %}