{% extends "../partials/layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle =  "Access eForms Records - " + applicationName %}
{% set mainClasses = "app-container govuk-body" %}

  {% block content %}
      <div class="govuk-width-container">
          <h1 class="govuk-heading-l">Access eForms Records</h1>

          {% if isReportingAllowed and isProviderReportingAllowed %}
              <p class="govuk-body">
                  You can generate eForm reports, generate provider reports, or search for an eForm record.
              </p>
              <p class="govuk-body">
                  <a href="/generate-report" class="govuk-link govuk-link--no-visited-state">Generate eForm reports</a>
              </p>
              <p class="govuk-body">
                  <a href="/provider-report" class="govuk-link govuk-link--no-visited-state">Generate provider reports</a>
              </p>
              <p class="govuk-body">
                  <a href="/search-eform" class="govuk-link govuk-link--no-visited-state">View eForm records</a>
              </p>
              {% elif isReportingAllowed %}
              <p class="govuk-body">
                  You can generate reports or search for an eForm record.
              </p>
              <p class="govuk-body">
                  <a href="/generate-report" class="govuk-link govuk-link--no-visited-state">Generate eForm reports</a>
              </p>
              <p class="govuk-body">
                  <a href="/search-eform" class="govuk-link govuk-link--no-visited-state">View eForm records</a>
              </p>
              {% elif isProviderReportingAllowed %}
              <p class="govuk-body">
                  You can generate provider reports.
              </p>
              <p class="govuk-body">
                  <a href="/provider-report" class="govuk-link govuk-link--no-visited-state">Generate provider reports</a>
              </p>
          {% else %}
              <p class="govuk-body">
                  You can search for eForm records.
              </p>
              <p class="govuk-body">
                  <a href="/search-eform" class="govuk-link govuk-link--no-visited-state">View eForm records</a>
              </p>
          {% endif %}
      </div>
  {% endblock %}
