{% extends "../partials/layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{%- from "govuk/components/table/macro.njk" import govukTable -%}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "../components/pagination.njk" import paginationBox %}
{% from "../components/backLink.njk" import backLink %}

{% set hasErrors = errors.list | length %}

{% set pageTitle = applicationName + " - Home" %}
{% if hasErrors %}
    {% set pageTitle = "Error: " + pageTitle %}
{% endif %}

{% set mainClasses = "app-container govuk-body" %}

{% set laaOrMaatTitle = "LAA Case Ref" %}
{% if results and results.length > 0 and results[0].type === 'CRM14' %}
    {% set laaOrMaatTitle = "MAAT ID" %}
{% endif %}

{% set tableData = {
    head: [
        { text: "Client name / USN" },
        { text: "CRM Type" },
        { text: "Start date" },
        { text: "Submission date" },
        { text: "Provider account number" },
        { text: laaOrMaatTitle },
        { text: "Status" }
    ],
    rows: []
} %}

{% block content %}

    <div class="govuk-width-container">
        {{ backLink(backUrl) }}
        <main class="govuk-main-wrapper">

            {% if hasErrors %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errors.list
                }) }}
            {% endif %}

            <h1 class="govuk-heading-l">Search for eForm records</h1>
            <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Search criteria</h2>
            <span class="govuk-caption-m govuk-!-margin-bottom-4">To find an eForm record, search by USN or any of the following criteria; Client surname, Provider account number, CRM type or Submission dates.</span>

            {% include "components/searchEformBox.njk" %}

            {% if results | length %}

                {% for item in results %}

                    {% set clientName = '<a href="' + item.crmLink + '" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline govuk-!-font-weight-bold">' + item.clientName | lower | capitalize  + '</a>' %}
                    {% set usn = '<div class="first-column-usn govuk-!-margin-bottom-2 govuk-!-margin-top-1">' + item.usn + '</div>' %}
                    {% set type = item.type %}
                    {% set originatedDate = item.originatedDate %}
                    {% set submittedDate = item.submittedDate %}
                    {% set providerAccount = item.providerAccount %}
                    {% set laaCaseRef = item.laaCaseRef %}
                    {% set status = item.status %}

                    {% set statusColour = [] %}
                    {% if (status === 'Granted') or (status === 'Completed') or (status === 'Post Refer Granted') or (status === 'Granted By SC') or (status === 'Part Granted') or (status === 'Post Refer Granted') or (status === 'Post Refer Part Granted') or (status === 'Part Granted By SC') %}
                        {% set statusColour = (statusColour.push('<div class="govuk-tag govuk-body-s govuk-tag--green">' + status + '</div>'), statusColour) %}
                    {%  elseif (status === 'Printed') %}
                        {% set statusColour = (statusColour.push('<div class="govuk-tag govuk-body-s govuk-tag--light-blue">' + status + '</div>'), statusColour) %}
                    {%  elseif (status === 'Aborted') %}
                        {% set statusColour = (statusColour.push('<div class="govuk-tag govuk-body-s govuk-tag--blue">' + status + '</div>'), statusColour) %}
                    {%  elseif (status === 'Deleted') %}
                        {% set statusColour = (statusColour.push('<div class="govuk-tag govuk-body-s govuk-tag--grey">' + status + '</div>'), statusColour) %}
                    {%  elseif (status === 'Rejected No Info') or (status === 'Rejected') or (status === 'Rejected By SC') or (status === 'Post Refer Rejected') or (status === 'Returned or Reassigned') %}
                        {% set statusColour = (statusColour.push('<div class="govuk-tag govuk-tag--orange">' + status + '</div>'), statusColour)  %}
                    {%  else %}
                        {% set statusColour = (statusColour.push(status), statusColour) %}
                    {% endif %}

                    {%- set tableRow = [
                        { text: [clientName, usn] | join | safe },
                        { text: type | safe },
                        { text: originatedDate | formatDate('dd/MM/yyyy') | safe },
                        { text: submittedDate | formatDate('dd/MM/yyyy') | safe },
                        { text: providerAccount | safe },
                        { text: laaCaseRef | safe },
                        { text: statusColour | safe }
                    ] -%}

                    {% set list = tableData.rows.push(tableRow) %}
                {% endfor %}

                {% set recordLabelPlural = 'record' if itemsTotal <= 1 else 'records' %}

                <h2 class="govuk-!-margin-top-9">{{ itemsTotal }} {{ recordLabelPlural }} found meeting your search criteria </h2>
                <div> {{ govukTable(tableData) }} </div>
                {{ paginationBox(pagination) }}
            {% endif %}
        </main>
    </div>
{% endblock %}
