{% extends "../partials/layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{%- from "govuk/components/table/macro.njk" import govukTable -%}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "../components/pagination.njk" import paginationBox %}
{% from "../components/backLink.njk" import backLink %}

{% set hasErrors = errors.list | length %}

{% set pageTitle = "Search for eForm records - " + applicationName %}
{% if hasErrors %}
    {% set pageTitle = "Error: " + pageTitle %}
{% endif %}

{% set mainClasses = "app-container govuk-body" %}

{% block content %}

    <div class="govuk-width-container">
        {{ backLink(backUrl) }}

        {% if hasErrors %}
            {{ govukErrorSummary({
                titleText: "There is a problem",
                errorList: errors.list
            }) }}
        {% endif %}

        <h1 class="govuk-heading-l">Search for eForm records</h1>
        <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Search criteria</h2>
        <span class="govuk-caption-m govuk-!-margin-bottom-4">To find an eForm record, search by USN or any of the following criteria; Client surname, Provider account number, CRM type or Submission dates.</span>

        <form action="/search-eform" method="POST">

            {% include "components/searchEformBox.njk" %}

            {% if results | length %}

                {% set recordLabelPlural = 'record' if itemsTotal <= 1 else 'records' %}

                <h2 class="govuk-!-margin-top-9">{{ itemsTotal }} {{ recordLabelPlural }} found meeting your search criteria </h2>

                <div class="govuk-grid-row govuk-custom-stack-tablet">
                    <div class="govuk-grid-column-one-third">
                        
                            {{ govukSelect({
                                label: {
                                    text: "Sort by"
                                },
                                classes: "govuk-!-width-full",
                                items: [
                                    {
                                        value: "",
                                        text: "Choose sort",
                                        selected: true
                                    },
                                    {
                                        value: "originatedDate:asc",
                                        text: "Start Date Ascending"
                                    },
                                    {
                                        value: "originatedDate:desc",
                                        text: "Start Date Descending"
                                    },
                                    {
                                        value: "submittedDate:asc",
                                        text: "Submitted Date Ascending"
                                    },
                                    {
                                        value: "submittedDate:desc",
                                        text: "Submitted Date Descending"
                                    }
                                ],
                                id: "sortBy",
                                name: "sortBy",
                                value: formValues.sortBy
                            }) }}
                        </div>
                    </div>
                </div>
            {% endif %}

        </form>

        {% include "components/searchEformResults.njk" %}

    </div>
{% endblock %}

{% block pageScripts %}
    <script src="/assets/searchSortBy.js"></script>
{% endblock %}
