{% extends "../partials/layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{%- from "govuk/components/table/macro.njk" import govukTable -%}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "../components/pagination.njk" import paginationBox %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% set tableData = {
    head: [
        { text: "Client name / USN",
            classes: 'first-column-client-name' },
        { text: "Type" },
        { text: "Started date" },
        { text: "Submitted date" },
        { text: "Provider name" },
        { text: "Status" }
    ],
    rows: []
} %}

{% block content %}

    <div class="govuk-width-container">
        <main class="govuk-main-wrapper">

            {% if errors.list | length %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: errors.list
                }) }}
            {% endif %}

            <h1 class="govuk-heading-l">Search for a historical eForm</h1>
            <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Search by</h2>
            <span class="govuk-caption-m govuk-!-margin-bottom-4">To find cases, search by USN only or combine filters as Client name, Start date and End date.</span>

            {% include "components/searchEformBox.njk" %}

            {% if results | length %}

                {% for item in results %}
                    {% set clientName = '<a href="#" class="govuk-link govuk-link--no-visited-state govuk-link--no-underline govuk-body-m govuk-!-font-weight-bold">' + item.clientName | lower | capitalize  + '</a>' %}
                    {% set usn = '<div class="first-column-usn govuk-body-s govuk-!-margin-bottom-2 govuk-!-margin-top-1">' + item.usn + '</div>' %}
                    {% set combined = clientName + usn %}
                    {% set type = item.type %}
                    {% set originatedDate = item.originatedDate %}
                    {% set submittedDate = item.submittedDate %}
                    {% set providerAccount = item.providerAccount %}
                    {% set status = " " %}

                    {%- set tableRow = [
                        { text: combined | safe },
                        { text: type | safe },
                        { text: originatedDate | safe },
                        { text: submittedDate | safe },
                        { text: providerAccount | safe },
                        { text: status | safe }
                    ] -%}

                    {% set list = tableData.rows.push(tableRow) %}
                {% endfor %}

                {% set recordLabelPlural = 'record' if itemsTotal <= 1 else 'records' %}

                <h2 class="govuk-!-margin-top-9">{{ itemsTotal }} {{ recordLabelPlural }} found meeting
                    your
                    search criteria </h2>
                <div>{{ govukTable(tableData) }}</div>

                 {{ paginationBox(pagination) }}
            {% endif %}
        </main>
    </div>
{% endblock %}
